.contact-heading{
    font-size: 3rem;
    font-weight: bold;
    color: $font;
    padding-left: 100px;
    @media screen and (max-width: 800px){
        padding-left: 60px;
    }
}
.contact-form{
    grid-area: contact-form;
    width: 50%;
    margin: auto;
    .input-field{
        padding: 15px 0px;
        &:nth-child(1){
            padding-top: 0px;
        }
    }
    .contact-submit{
        padding: 8px 30px;
        background-color: $main;
        color: white;
        width: 100px;
        margin: 0px auto;
    }
    @media screen and (max-width: 800px){
        width: 100%;
    }
}
.left-contact-image{
    grid-area: left-contact-image;
    width: 70%;
    margin: 20px auto;
    @media screen and (max-width: 800px){
        width: 90%;
    }
}
.contact-us-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left-contact-image contact-form';
    @media screen and (max-width: 900px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'left-contact-image' 'contact-form'; 
    }
}
.last-line{
    margin: 0px auto;
    padding: 0px 20px;
    width: 95%;
    max-width: 440px;
}