.footer-link-columns{
    list-style-type: none;
    padding: 30px 30px;
    :nth-child(1){
        grid-area: links-1;
    }
    :nth-child(2){
        grid-area: links-2;
    }
    :nth-child(3){
        grid-area: links-3;
    }
    li{
        a{
            color: white;
            font-size: 1.4rem;
            text-decoration: none;
        }
        &:nth-child(1){
            a{
                font-size: 1.7rem;
                font-weight: 800;
                color: white;
            }
        }
    }
    @media screen and (max-width: 500px){
        margin: 0px auto;
        padding: 10px;
    }
}
.footer-left{
    grid-area: footer-left;
    width: 150px;
    margin: auto auto 0px 0px;
    padding-top: 30px;
    @media screen and (max-width: 800px){
        display: none;
    }
}
.footer-right{
    grid-area: footer-right;
    width: 150px;
    padding-top: 30px;
    margin: auto 0px 0px auto;
    @media screen and (max-width: 800px){
        display: none;
    }
}
.copyright{
    grid-area: copyright;
    color: white;
    font-size: 1.5rem;
    margin: auto auto 0px;
}
.request-div{ 
    background-color: white;
    position: fixed;
    z-index: 800;
    display: inline-flex;
    bottom: 0px;
    right: 0px;
    padding: 3px 10px;
    div{
        line-height: 30px;
        margin-right: 10px;
    }
    .request-title{
        line-height: 25px;
        padding: 8px 15px;
        margin-right: 0px;
    }
}
#footer-chat-image{
    width: 30px;
    height: 30px;
    padding: 0px 5px;
    cursor: pointer;
}
.request-footer-form{
    display: none;
    position: absolute;
    box-shadow: 0px 0px 60px rgb(80, 67, 112, 0.1);
    margin: -400px -230px 30px -180px;
    width: 300px;
    background-color: white;
    .footer-submit{
        background-color: $main;
        color: white;
        padding: 5px 20px;
        width: 85px;
        margin: 10px auto;
        cursor: pointer;
        user-select: none;
    }
    .input-field{
        width: 92%;
    }
    span{
        padding: 10px;
    }
}
.wrap{
    min-height: 100vh;
}
footer{
    margin-top: 50px;
    position: relative;
    width: 100%;
    background-color: $main;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.1fr;
    grid-template-areas:
    'footer-left links-1 links-2 links-3 footer-right'
    'footer-left copyright copyright copyright footer-right';
    @media screen and (max-width: 800px){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas:
        'links-1 links-2 links-3'
        'copyright copyright copyright';
    }
    @media screen and (max-width: 500px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 0.1fr;
        grid-template-areas:
        'links-1 links-2'
        'links-3 links-3'
        'copyright copyright';
    }
}