.list-heading{
    font-size:3rem;
    color:$font;
    padding-left: 100px;
    margin-right: 10px;
    font-weight: bold;
    @media screen and (max-width: $break-large) {
        padding-left: 53px;
    }
    grid-area:list-heading;
}

// --------------Side menu
.list-menu-div{
    display: flex;
    grid-area: list-menu;
    .list-side-menu{
        list-style-type: none;
        margin: 60px auto 40px 60px;
        li{
            padding: 5px 0px;
            display: flex;
            .list-number-button{
                width: 40px;
                height: 40px;
                padding: 0px 10px;
                border-radius: 20px;
                border: 1px solid $font;
                div{
                    padding: 9px 6px;
                }
            }
            .list-number-title{
                line-height: 40px;
                margin: auto 20px;
            }
            &:nth-child(even){
                padding: 5px 20px;
            }
        }
        .active-list-menu{
            .list-number-button{
                color: white;
                background-color: $main;
                border: none;
                div{
                    padding: 9px 7px;
                }
            }
            .list-number-title{
                color: $main;
            }
        }
    }
    @media screen and (max-width: 1200px){
        display: none;
    }
}
.list-side-menu-line{
    height: 400px;
    margin: auto 0px;
    @media screen and (max-width: 1200px){
        display: none;
    }
}
// ----------------Form 
.list-property-form{
    grid-area: form-area;
    margin: 50px 107px 50px 50px;
    @media screen and (max-width: 700px){
        margin: 50px auto 50px 50px;
    }
    #form-1,#form-2,#form-3,#form-4,#form-5{
        transition: all 2s ease-in-out;
        .list-form-heading{
            font-size: 2rem;
            font-weight: bold;
        }
        .radio-option-label{
            padding: 15px 0px 5px;
        }
        .field-inputs{
            width: 100%;
        }
        .radio-options{
            display: grid;
            width: 100%;
            grid-auto-flow: column;
            div{
                display: inline-flex;
                padding: 0px 10px;
                img{
                    cursor: pointer;
                    pointer-events: none;
                }
                .radio-field-name{
                    pointer-events: none;
                    cursor: pointer;
                }
            } 
        }
        .line-3,#line-4{
            display: inline-flex;
            width: 100%;
        }
        .form-drop-down-options{
            width: 180px;
            margin-right: 16px;
            .drop-down-label{
                padding: 10px 0px;
            }
            .drop-down-heading{
                border: 1px solid $font;
                padding: 5px 20px;
                display: inline-flex;
                width: 150px;
                cursor: pointer;
                user-select: none;  
                white-space: normal;  
            }
            img{
                margin-left: -40px;
            }
            .drop-down-list{
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: none;
                position: absolute;
                max-height: 150px;
                overflow-y: scroll;
                overflow-x: hidden;
                box-shadow: 3px 5px 40px #f0f0f2;
                li{
                    padding: 5px 20px;
                    width: 145px;
                    background-color: white;
                    user-select: none;
                    &:hover{
                        background-color: $main;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
        #res-options{
            width: 280px;
            .drop-down-heading{
                width: 250px;  
            }
            .drop-down-list{
                width: 250px;
                li{
                    width: 245px;
                }
            }
        }
        #more-options{
            display: none;
            width: 280px;
            .drop-down-heading{
                width: 250px;  
            }
            .drop-down-list{
                width: 250px;
                li{
                    width: 245px;
                }
            }
        }#list-contract{
            width: 280px;
            .drop-down-heading{
                width: 250px;  
            }
            .drop-down-list{
                width: 250px;
                li{
                    width: 245px;
                }
            }
        }
        #multiple-units{
            display: none;
        }
        .list-input-field{
            display: inline-block;
            padding: 15px 44px 0px 0px;
            label{
                display: block;
                font-weight: 400;
            }
            input{
                outline: none;
                border: 1px solid $font;
                padding: 2px 4px;
                width: 150px;
                height: 32px;
            }
        }
        .list-area-field{
            display: inline-block;
            padding: 15px 45px 0px 0px;
            width: 100%;
            label{
                display: block;
                font-weight: 400;
            }
            textarea{
                outline: none;
                border: 1px solid $font;
                padding: 2px 4px;
                width: 95%;
                max-width: 250px;
                height: 100px;
            }
        }
        .list-previous-button{
            color: $main;
            border: 1px solid $main;
            padding: 5px 23px;
            width: 100px;
            margin: 30px 0px;
            cursor: pointer;
        }
        .list-form-check-field{
            display: block;
            width: 95%;
            max-width: 600px;
            .check-field-label{
                padding: 10px 0px 5px;
            }
            .check-option{
                display: inline-flex;
                padding-right: 10px;
                width: 180px;
                img{
                    margin-right: 10px;
                    width: 15px;
                    cursor: pointer;
                }
            }
        }
    }
    #form-2,#form-3,#form-4,#form-5{
        display: none;
    }
    #form-3{
        .residential-options,.commercial-options{
            display: none;
        }
    }
}
//-----------------Help Section
.help-section{
    grid-area: help-section;
    text-align: justify;
    display: grid;
    margin-top: 40px;
    .help-heading{
        font-size: 2rem;
        padding: 40px 0px 20px;
        font-weight: bold;
        grid-area: help-heading;
    }
    .help-line-1{
        width: 95%;
        max-width: 300px;
        color: #717377;
        padding: 10px 0px;
        grid-area: help-line-1;
    }
    .help-line-2{
        width: 95%;
        max-width: 300px;
        color: #717377;
        padding: 10px 0px;
        grid-area: help-line-2;
    }
    .continue-list-button{
        color: white;
        background-color: $main;
        padding: 5px 23px;
        width: 100px;
        height: 32px;
        margin-left: 5px;
        cursor: pointer;
        user-select: none;
        grid-area: continue;
    }
    margin: 0px auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
    grid-template-areas: 
        'help-heading'
        'help-line-1'
        'help-line-2'
        'continue';
    @media screen and (max-width: 700px){
        grid-template-rows: 0.1fr 0.2fr 0.2fr 0.1fr;
        grid-template-areas:
        'continue' 
        'help-heading'
        'help-line-1'
        'help-line-2';
    }
}

//--------------- Main grid
.list-properties{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas: 
    'list-heading list-heading list-heading'
    'list-menu form-area help-section';
    @media screen and (max-width: 1200px){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        grid-template-areas: 
        'list-heading list-heading'
        'form-area help-section';
    }
    @media screen and (max-width: 700px){
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1fr 1fr;
        grid-template-areas: 
        'list-heading'
        'form-area' 
        'help-section';
    }
}

//last-minute-changes
.inventory-options{
    .inventory-heading{
        font-size: 1.4rem;
        font-weight: 600;
        margin: 8px 0px;
    }
    .inventory-lines{
        margin: 8px 0px;
        .count-options{
            display: inline-flex;
            width: 110px;
            margin-right: 5px;
            div{
                line-height: 26px;
            }
            input{
                width: 45%;
                outline: none;
                margin: 0px 0px 0px auto;
                border: 1px solid $font;
                padding: 2px 5px;
            }
        }
    }
}
