.login-heading{
    font-size: 3rem;
    font-weight: bold;
    color: $font;
    padding-left: 100px;
    @media screen and (max-width: 800px){
        padding-left: 53px;
    }
}
.login-div{
    display: none;
}
.signup-form,.login-form,.mobile-form{
    grid-area: signup-form;
    width: 50%;
    margin: auto;
    .input-field{
        padding: 5px 0px;
        &:nth-child(1){
            padding-top: 0px;
        }
    }
    .signup2{
        display: none;
    }
    .input-field-1{
        padding: 5px 0px;
        margin: 5px auto;
        width: 75%;
        input{
            display: inline-block;
            width: 83%;
            
        }
        input#code{
            width: 15%;
        }
        input#code1{
            width: 15%;
        }
    }
    .signup-submit,.login-submit, .mobile-submit{
        padding: 8px 30px;
        background-color: $main;
        color: white;
        width: 110px;
        margin: 0px auto;
        cursor: pointer;
    }
    .login-submit{
        width: 100px;
    }
    .mobile-submit{
        width: 120px;
    }
    @media screen and (max-width: 800px){
        width: 100%;
    }
    .signup-options{
        display: block;
        width: 75%;
        margin: 10px auto;
        font-size: 1.5rem;
        font-weight: 600;
        .login-form-check-field{
            .check-option{
                display: flex;
                img{
                    width: 12px;
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
        }
        .login-member{
            margin: 5px 0px 0px auto;
            cursor: pointer;
            display: block;
            color: $main;
        }
    }
}
.left-login-image{
    grid-area: left-login-image;
    width: 70%;
    margin: 20px auto;
    @media screen and (max-width: 800px){
        width: 90%;
    }
}
.signup-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'left-login-image signup-form';
    @media screen and (max-width: 900px){
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
        grid-template-areas: 'left-login-image' 'signup-form'; 
    }
}
.login-form,.mobile-form{
    display: none;
}
.signup-form{
    .form-drop-down-options{
        width: 75%;
        display: block;
        margin: 0px auto 5px;
        font-size: 1.2rem;
        .drop-down-label{
            padding: 10px 0px;
        }
        .drop-down-heading{
            border: 1px solid $font;
            padding: 5px 20px;
            display: inline-flex;
            width: 150px;
            cursor: pointer;
            user-select: none;  
            white-space: nowrap;    
        }
        img{
            margin-left: -40px;
        }
        .drop-down-list{
            padding: 0;
            margin: 0;
            z-index: 1000;
            list-style-type: none;
            display: none;
            position: absolute;
            max-height: 150px;
            overflow-y: scroll;
            overflow-x: hidden;
            box-shadow: 3px 5px 40px #f0f0f2;
            li{
                padding: 5px 20px;
                width: 145px;
                background-color: white;
                user-select: none;
                &:hover{
                    background-color: $main;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

.details-container{
    width: 100vw;
    .detail-form-container{
        text-align: center;
        margin: 10px auto;
        input{
            display: block;
            margin: 5px auto;
            width: 400px;
            max-width: 90vw;
            height: 40px;
        }
        button{
            top: 0;
            position: relative;
            margin: 0px auto;
            color: $main;
            border: 1px solid $main;
            background-color: white;
            font-size: 1.5rem;
            padding: 5px 20px;
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
}