// -----------------Desktop-nav
body{
    font-family: 'Source Sans Pro';
    color: $font;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.desktop-nav{
    display: flex;
    line-height: 20px;
    padding: 10px 0px;
    flex-direction: row;
    position: relative;
    z-index: 10000;
    @media screen and (max-width: $break-large) {
        display: none;
    }
}
.logo{
    display: inline-block;
    padding: 10px 10px 10px 100px;
    width: 190px;
    cursor: pointer;
}
.login{
    color: white;
    background-color: $main; 
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    margin-right: 20px;
    a{
        text-decoration: none;
        color: white;
    }
}

.nav-links{
    list-style-type: none;
    display: inline;
    margin: auto;
    font-size: 1.7rem;
    li{
        display: inline;
        padding: 0px 20px;
        a{
            text-decoration: none;
            color: $font;
        }
        img{
            cursor: pointer;
        }
        ul{
            list-style-type: none;
            position: absolute;
            display: none;
            margin-left: 444px;
            z-index: 500;
            li{
                display: block;
            }
            @media screen and (max-width: $break-large){
                margin-left: 10px;
            }
        }
    }
}

// -------------------Mobile nav
.mobile-nav{
    display: none;
    @media screen and (max-width: $break-large) {
        display: flex;
    }
    .mobile-nav-links{
        width: 200px;
        height: 100vh;
        display: inline-block;
        position: fixed;
        z-index: 1000;
        background-color: #3a6ec9;
        color: white;
        font-size: 1.2rem;
        display: none;
        margin: 0;
        padding: 20px 0px 0px 0px;
        list-style-type: none;
        li{
            padding: 15px 30px;
            a{
                text-decoration: none;
                color: white;
            }
            &:last-child{
                padding-top: 50px;
                text-align: center;
            }
            div{
                color: #3a6ec9;
                background-color: white;
                padding: 10px 0px;
            }
        }
        .mobile-login{
            a{
                background-color: white;
                color: $main;
                text-decoration: none;
            }
        }
    }
}
.man-layout{
    display: inline-flex;
    width: 100vw;
    div{
        display: flex;
        margin: 10px 10px 10px auto;
        span{
            line-height: 20px;
            padding-right: 10px;
        }
        ul{
            list-style-type: none;
            position: absolute;
            display: none;
            margin: 20px 10px 10px auto;
            padding:0;
            z-index: 2000;
            li{
                display: block;
                background: white;
            }
        }
    }
}
.mobile-menu{
    width: 45px;    
    padding: 10px;
    cursor: pointer;
}
.mobile-logo{
    width: 110px;
    padding-left: 10px;
    cursor: pointer;
}
.user-name{
    line-height: 40px;
    width: 40px;
    margin-right: 10px;
    background: #F72C25;
    border-radius: 20px;
    text-align: center;
    a{ 
        text-decoration: none;
        color: white;
        font-size: 1.9rem;
        &:hover{
            text-decoration: none;
        }
    }
}
::-webkit-scrollbar {
    width: 2px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.frontalert{
    display: none;
}
.data-list{
    margin-top: 15px;
    position: absolute;
    background: white;
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-left: 240px;
    max-height: 100px;
    width: 30%;
    max-width: calc(95vw - 260px);
    display: none;
    overflow-y: scroll;
    z-index: 100;
    font-size: 16px;
    line-height: 17px;
    li{
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background: #3a6ec9;
            color: white;
        }
    }
}
.dat-list{
    position: absolute;
    background: white;
    list-style-type: none;
    padding: 0;
    max-height: 100px;
    width: 30%;
    max-width: 150px;
    display: none;
    overflow-y: scroll;
    li{
        padding: 5px 10px;
        cursor: pointer;
        &:hover{
            background: #3a6ec9;
            color: white;
        }
    }
}

.loader {
    display: none;
    height: 40px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
.spinner {
    width: 30px;
    height: 30px;
    background: rgba(77, 124, 254, 0.2);
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-left: 46%;
  }
  
.spinner:after, .spinner:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
.spinner-1:after {
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-top-color: #4D7CFE;
    border-bottom-color: #4D7CFE;
    -webkit-animation: spinny 1s linear infinite;
            animation: spinny 1s linear infinite;
  }
  
@-webkit-keyframes spinny {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(45deg) scale(1.2);
              transform: rotate(45deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(360deg) scale(1);
              transform: rotate(360deg) scale(1);
    }
  }
  
@keyframes spinny {
    0% {
      -webkit-transform: rotate(0deg) scale(1);
              transform: rotate(0deg) scale(1);
    }
    50% {
      -webkit-transform: rotate(45deg) scale(1.2);
              transform: rotate(45deg) scale(1.2);
    }
    100% {
      -webkit-transform: rotate(360deg) scale(1);
              transform: rotate(360deg) scale(1);
    }
  }
  
.edit{
    background-color: #044389;
}
.success{
    background-color: green;
}
.reject{
    background-color: crimson;
}
.extra{
    background-color: blueviolet;
  }
// Modals
#modal-zoom-in {
    top: 40%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
#modal-zoom-in.show {
    z-index: 10000;
    transform: translate(-50%, -50%) scale(1);
    height: 200px;
    max-width: 80vw;
    width: 800px;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
  
.modal-background {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(69, 69, 69, 0.7);
    opacity: 0;
    pointer-events: none;
  }
.modal-background.show {
    z-index: 10000;
    height: auto;
    display: block;
    opacity: 1;
    pointer-events: auto;
    animation: fadein 0.8s;
  }
.modal-background.hide {
    animation: fadeout 0.8s;
  }
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
.modal {
    position: absolute;
    padding: 35px;
    box-shadow: 0px 0px 8px 0px #333;
    color: #fff;
    text-align: left;
    transform-style: preserve-3d;
  }
.login-modal-button{
    text-decoration: none;
    background: white;
    border: 1px solid $main;
    color: $main;
    width: 100px;
    line-height: 50px;
    height: 50px;
    padding: 10px 10px;
    font-size: 1.5rem;
    margin-top: 30px;
    &:hover{
        text-decoration: none;
        color: $main;
    }
}
#modalclose{
    width: 30px;
    position: absolute;
    top: 3%;
    right: 2%;
    cursor: pointer;
}
.stop-scrolling { 
    height: 100%; 
    overflow: hidden; 
} 

#apply-filters{
    background: $main;
    margin: 0;
    position: relative;
    top: 15px;
    font-size: 1.6rem;
    padding: 5px 25px;
    text-align: center;
    margin-left: 43px;
}