// -----------------Desktop-nav
body{
    font-family: 'Source Sans Pro';
    color: $font;
    margin: 0;
    padding: 0;
}
.desktop-nav{
    display: flex;
    line-height: 20px;
    padding: 10px 0px;
    flex-direction: row;
    @media screen and (max-width: $break-large) {
        display: none;
    }
}
.logo{
    display: inline;
    padding: 10px 10px;
}
.login{
    color: white;
    background-color: $main; 
    cursor: pointer;
    padding: 10px 20px;
    height: 40px;
    margin-right: 20px;
}

.nav-links{
    list-style-type: none;
    display: inline;
    margin: auto;
    li{
        display: inline;
        padding: 0px 20px;
        a{
            text-decoration: none;
            color: $font;
        }
        ul{
            list-style-type: none;
            display: block;
            position: relative;
            display: none;
        }
    }
}

// -------------------Mobile nav
.mobile-nav{
    display: none;
    @media screen and (max-width: $break-large) {
        display: flex;
    }
}
.main-layout{
    display: inline-flex;
}
.mobile-menu{
    width: 20px;    
    padding: 10px;
    cursor: pointer;
}
.mobile-logo{
    width: 170px;
    padding-left: 10px;
}
.mobile-nav-links{
    width: 200px;
    height: 100vh;
    display: inline-block;
    position: fixed;
    background-color: #3a6ec9;
    color: white;
    font-size: 0.9rem;
    display: none;
    margin: 0;
    padding: 20px 0px 0px 0px;
    list-style-type: none;
    li{
        padding: 15px 30px;
        a{
            text-decoration: none;
            color: white;
        }
        &:nth-child(6){
            padding-top: 50px;
            text-align: center;
        }
        div{
            color: #3a6ec9;
            background-color: white;
            padding: 10px 0px;
        }
    }
}

