.search-result-container{
    grid-area: search-result-container;
    width: 95%;
    margin: 30px auto 0px 0px;
    display: flex;
    @media screen and (max-width: $break-large) {
        width: calc(100% - 50px);
        max-width: 95vw;
        margin-top: 20px;
    }
    .search-result-bar{
        display: flex;
        background-color: white;
        padding: 10px;
        height: 45px;
        font-size: 16px;
        width: calc(100% - 50px);
        box-shadow: 0px 0px 60px rgb(80, 67, 112, 0.1);
        @media screen and (max-width: $break-large) {
            width: 98vw;
            max-width: 98vw;
            margin: 40px 0px 0px 20px;
        }
    }
}
.search-filters{
    grid-area: search-filters;
    margin: -80px auto 0px;
    min-width: 192px;
    max-width: 95vw;
    background-color: white;
    .filter-heading, .sub-filter-heading{
        display: flex;
        margin: 10px 0px;
        font-weight: bold;
        img{
            margin: 0px 0px 0px auto;
            cursor: pointer;
        }
    }
    .filter-heading{
        font-size: 2rem;
    }
    .input-fields{
        display: none;
        input{
            width: 80px;
            margin: 0px 5px;
        }
    }
    .check-option{
        display: flex;
        img{
            margin-right: 10px;
            width: 15px;
            cursor: pointer;
        }
    }
    .list-form-check-field{
        display: none;
    }
    @media screen  and (max-width: $break-large){
        margin-left: 22px;
        margin-top: 20px;
    }
}

.search-results{
    grid-area: search-results;
    margin-bottom: 100px;
    .search-result-card{
        width: 90vw;
        max-width: 700px;
        margin: 20px 0px;
        box-shadow: 3px 5px 40px #f0f0f2;
        .left-part{
            grid-area: leff;
            .searchpropimage{
                max-width: 280px;
                max-height: 200px;
                min-width: 280px;
                min-height: 200px;
            }
        }
        
        .view-main-details{
            grid-area: det;
            margin-left: 0px;
            margin-top: 10px;
        }
        .right-part{
            grid-area: rigg;
            margin: 10px;
            .rest-details-name{
                font-weight: bold;
                font-size: 2rem;
            }
            .one-feature{
                display: block;
                div{
                    display: inline-block;
                }
                .one-feature-heading{
                    font-weight: 600;
                    padding-right: 5px;
                }
            }
        }
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: 'leff rigg' 'det det';
    }
    @media screen  and (max-width: $break-large){
        margin-left: 20px;
    }
    @media screen  and (max-width: 600px){
        .search-result-card{
            .left-part{
                .searchpropimage{
                    min-width: 80vw;
                }
            }
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 0.1fr 0.6fr;
            grid-template-areas: 'leff' 'det' 'rigg';
        }
    }
}
.extra-section{
    grid-area: extra-section;
    margin: -80px auto 0px;
    .radio-option-label{
        font-size: 2rem;
        font-weight: bold;
        padding: 10px 0px
    }
    .radio-options{
        display: grid;
        width: 100%;
        grid-auto-flow: row;
        div{
            display: inline-flex;
            padding: 0px 10px;
            img{
                cursor: pointer;
                pointer-events: none;
            }
            .radio-field-name{
                pointer-events: none;
                cursor: pointer;
            }
        } 
    }
    @media screen  and (max-width: $break-large){
        margin-left: 60px;
    }
}

.search-section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    '. search-result-container .'
    'search-filters search-results extra-section';
    @media screen and (max-width: $break-large){
        grid-template-rows: 100px auto auto 400px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'search-result-container'
        'search-filters' 
        'search-results'
        'extra-section';
    }
}
