.card-image-circle{
    grid-area: image1;
    max-width: 100px;
    min-height: 100px;
    border-radius: 50px;
    margin: 50px auto auto;
}
.property-actions{
    grid-area: actions;
    margin: 10px 10px auto auto;
    img{
        padding-right: 10px;
        cursor: pointer;
        width: 25px;
    }
}
.property-details{
    grid-area: pdetails;
    margin: 50px auto auto;
    div{
        color: #717377;
    }
    .property-title{
        color: $font;
        font-size: 2rem;
        font-weight: 500;
    }
}
.property-footer{
    grid-area: pfooter;
    margin: 0px auto 0px 50px;
}


.user-properties{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    .property-card{
        margin: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas: 
        'image1 pdetails actions'
        'pfooter pfooter pfooter'
    }
}
.delete-modal,.upload-image-modal{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    .modal-content{
        input{
            margin: auto;
        }
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto;
        width: 80vw;
        text-align: center;
        button{
            background-color: $main;
            color: white;
            position: relative;
            margin: 30px 10px 30px;
            top: 0;
            width: 100px;
            padding: 5px 35px;
            display: inline-flex;
        }
        div{
            display: inline-flex;
            font-size: 2rem;
            color: $font;
            margin: 10px;
        }
        .cancel{
            background-color: white;
            color: $main;
            border: 1px solid $main;
            width: 100px;
            padding: 5px 36px;
            cursor: pointer;
            user-select: none;
        }
    }
}
.upload-image-modal{
    .modal-content{
        button{
            padding: 5px 28px;
        }
        .cancel{
            padding: 5px 21px;
        }
    }
}