.card-image-circle{
    grid-area: image1;
    max-width: 100px;
    min-height: 100px;
    min-width:100px;
    max-height:100px;
    border-radius: 50px;
    margin: 25px auto auto;
}
.property-actions{
    margin: 10px 10px auto auto;
    img{
        padding: 4px;
        cursor: pointer;
        width: 30px; 
        margin-right: 2px;
        &:first-child{
            background: #044389;
        }
        &:nth-child(2){
            background: crimson;
        }
        &:nth-child(3){
            background: green;
        }
        &:nth-child(5){
            background: orangered;
        }
    }
}
.property-details{
    grid-area: pdetails;
    margin-top: 20px;
    margin-left: 10px;
    div{
        color: #717377;
    }
    .property-title{
        color: $font;
        font-size: 2rem;
        font-weight: 500;
    }
}
.property-footer{
    grid-area: pfooter;
    margin: 0px auto 0px 50px;
}


.user-properties{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    .property-card{
        margin: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 200px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 0.2fr;
        grid-template-areas: 
        'image1 pdetails'
        'pfooter pfooter'
    }
}
.delete-modal,.upload-image-modal, .sold-modal{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    .modal-content{
        input{
            margin: auto;
        }
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: auto;
        width: 80vw;
        text-align: center;
        button{
            background-color: $main;
            color: white;
            position: relative;
            margin: 30px 10px 30px;
            top: 0;
            width: 100px;
            padding: 5px 35px;
            display: inline-flex;
        }
        div{
            display: inline-flex;
            font-size: 2rem;
            color: $font;
            margin: 10px;
        }
        .cancel{
            background-color: white;
            color: $main;
            border: 1px solid $main;
            width: 100px;
            padding: 5px 36px;
            cursor: pointer;
            user-select: none;
        }
    }
}
.upload-image-modal{
    .modal-content{
        button{
            padding: 5px 28px;
        }
        .cancel{
            padding: 5px 21px;
        }
    }
}
.order-heading{
    font-size: 2.5rem;
    color: $font;
    width: 95vw;
    margin-left: 20px;
}
.order-sub-title{
    font-size: 1.5rem;
    color: $font;
    width: 95vw;
    margin-left: 20px;
}
.order-images{
    width: 95vw;
    input{
        width: 200px;
        margin: 10px 10px 10px 20px;
    }
    .submit-order{
        border: 1px solid $main;
        color: $main;
        width: 80px;
        background-color: white;
        padding: 5px 15px;
        margin: 0px auto 40px 20px;
        cursor: pointer;
    }
}
.images-container{
    .image-card{
        display: inline-block;
        height: 200px;
        margin: 10px 20px;
        img{
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
        }
        .closeimg{
            cursor: pointer;
            width: 30px;
            margin: -180px 0px 0px -15px;
        }
    }
}