.view-slider{
    position: relative;
    margin: 50px auto;
    width: 70vw;
    min-height: 500px;
    overflow: hidden;
    .slide {
        width: 70vw;
        min-height: 500px;
        position: absolute;
        img{
            width: 100%;
        }
    }
    button#view-previous{
        top: 245px;
    }
}
