
.view-property-header{
    display: inline-flex;
    margin: 10px auto 10px 100px;
    div{
        color: #717377;
        line-height: 40px;
        align-items: flex-end;
        &:first-child{
            color: $font;
            font-size: 2rem;
            font-weight: 500;
            margin-right: 10px;
        }
    }
    @media screen and (max-width: $break-large){
        margin-left: 20px;
        display: block;
    }
}
.view-slider{
    position: relative;
    margin: 30px auto 20px 100px;
    width: 80%;
    min-height: 500px;
    overflow: hidden;
    .slide {
        width: 100%;
        min-height: 100%;
        position: absolute;
        img{
            width: 100%;
        }
    }
    button#view-previous{
        top: 45%;
    }
    button#view-next{
        margin-left: 98%;
        top: 45%;
    }
    .circles{
        left: 35%;
    }
    @media screen and (max-width: 1300px){
        width: 70%;
    }
    @media screen and (max-width: $break-large){
        width: 80%;
        button#view-next{
            margin-left: 96%;
            top: 45%;
        }
    }
    @media screen and (max-width: 950px){
        margin: 30px auto 20px;
        width: 70%;
        min-height: 300px;
    }
    @media screen and (max-width: 650px){
        margin: 30px auto 20px;
        width: 80%;
        min-height: 300px;
    }
    @media screen and (max-width: 650px){
        margin: 30px auto 20px;
        min-width: 90%;
        min-height: 250px;
    }
}
.view-property-details{
    grid-area: viewprop;
}
.view-help-section{
    grid-area: vhelp;
    text-align: justify;
    margin: 40px auto;
    .help-heading{
        font-size: 2rem;
        padding: 40px 0px 20px;
        font-weight: bold;
    }
    .help-line-1{
        width: 95%;
        max-width: 300px;
        color: #717377;
        padding: 10px 0px;
    }
    
    @media screen and (max-width:950px) {
        margin-left: 20px;
    }
}
.view-property{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'viewprop vhelp';
    @media screen and (max-width: 950px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: 'viewprop' 'vhelp';
    }
}
.view-main-details{
    display: inline-flex;
    margin: 0px auto 10px 100px;
    .view-prop-main-logo{
        margin: 0px 10px;
        display: inline-flex;
        img{
            width: 20px;
            padding-right: 5px;
        }
        div{
            color: $main;
        }
    }
    @media screen and (max-width: $break-large){
        margin-left: 20px;
    }
    @media screen and (max-width: 600px){
        display: block;
    }
}
.rest-details{
    display: block;
    margin: 10px auto 10px 100px;
    .rest-heading{
        font-size: 2rem;
        font-weight: bold;
        color: $font;
        display: block;
    }
    .rest-details-div{
        color: #717377;
        .one-feature{
            display: block;
            max-width: 95vw;
            div{
                color: $font;
                display: inline-block;
            }
            .one-feature-heading{
                color: #717377;
                padding-right: 10px;
            }
        }
        .svg-feature{
            max-width: 95vw;
            .svg-icons{
                display: inline-block;
                max-width: 100%;
                div{
                    display: inline-block;
                    width: 90px;
                    margin-right: 10px;
                    margin-top: 10px;
                    img{
                        max-width: 50px;
                        margin-left: 25px;
                    }
                    div{
                        text-align: center;
                    }
                }
            }
        }
        .more-feature{
            display: block;
            max-width: 98vw;
            margin-top: 20px;
            div{
                color: $font;
                display: inline-block;
                color: white;
                padding: 5px 15px;
                border-top-left-radius: 12px;
                border-bottom-right-radius: 12px;
                margin-right: 10px;
                margin-top: 10px;
                &:nth-child(3n){
                    background-color: #5F5AA2;
                }
                &:nth-child(3n+1){
                    background-color: #E49AB0;
                }&:nth-child(3n+2){
                    background-color: #4F5D75;
                }
            }

            .one-feature-heading{
                color: #717377;
                padding-right: 10px;
                background-color: white;
                color: #717377;
                display: block;
            }
        }
        .more-feature-inven{
            display: block;
            max-width: 95vw;
            margin-top: 5px;
            margin-bottom: 5px;
            div{
                color: $font;
                display: inline-block;
                color: white;
                padding: 5px 15px;
                border-top-left-radius: 12px;
                border-bottom-right-radius: 12px;
                margin-right: 10px;
                margin-top: 10px;
                &:nth-child(3n){
                    background-color: #5F5AA2;
                }
                &:nth-child(3n+1){
                    background-color: #E49AB0;
                }&:nth-child(3n+2){
                    background-color: #4F5D75;
                }
            }

            .one-feature-heading{
                color: #717377;
                padding-right: 10px;
                background-color: white;
                color: #717377;
                display: block;
            }
        }
    }
    
    @media screen and (max-width: $break-large){
        margin-left: 20px;
    }
}
.interest-form{
    display: block;
    width: 80%;
    .tofill{
        padding: 2px 5px;
        outline: none;
        margin: 5px 0px;
        display: block;
    }
    button{
        top: 0px;
        position: relative;
        display: block;
        margin: 5px auto 5px 0px;
        color: $main;
        border: 1px solid $main;
        background-color: white;
        font-size: 1.6rem;
        font-weight: 400;
        padding: 5px 10px;
    }
}
.tab-slider{
    width: 80%;
    max-width: 95vw;
    height: auto;
    margin: 10px auto 40px 100px;
    .tabs-header{
        display: flex;
        overflow-x: auto;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        div{
            padding: 10px;
            font-size: 1.5rem;
            cursor: pointer;
        }
        .active{
            color: white;
            background-color: $main;
        }
    }
    .tabs-content{
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        min-height: 100%;
        img{
            max-width: 100%;
            min-width: 100%;
            min-height: 100%;
            max-height: 100%;
            display: none;
        }
        .active{
            display: block;
        }
    }
    #tab-price-tag{
        position: relative;
        background-color: rgb(58, 110, 201, 0.7);
        color: white;
        text-align: center;
        padding: 5px 10px;
    }
    @media screen and (max-width: 950px){
        margin: 30px auto 20px;
        width: 90%;
    }

}
