body {
  font-family: "Source Sans Pro";
  color: #424b5a;
}

.desktop-nav {
  display: flex;
  line-height: 20px;
  flex-direction: row;
}

@media screen and (max-width: 1120px) {
  .desktop-nav {
    display: none;
  }
}

.logo {
  display: inline;
  padding: 10px 10px;
}

.login {
  color: white;
  background-color: #3a6ec9;
  cursor: pointer;
  padding: 10px 20px;
  height: 20px;
  margin-right: 20px;
}

.nav-links {
  list-style-type: none;
  display: inline;
  margin: auto;
}

.nav-links li {
  display: inline;
  padding: 0px 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #424b5a;
}

.mobile-nav {
  display: none;
  line-height: 50px;
}

@media screen and (max-width: 1120px) {
  .mobile-nav {
    display: flex;
  }
}

.mobile-menu {
  width: 20px;
  padding: 10px;
}

.mobile-logo {
  width: 170px;
  padding-left: 10px;
}

.mobile-nav-links {
  display: none;
  list-style-type: none;
}

.mobile-nav-links li {
  padding: 10px;
}

.mobile-nav-links li a {
  text-decoration: none;
  color: #424b5a;
}

